<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cadena_conexion"
			 connectionString="Server=NOT0109\MSSQLSERVER1;Database=DBFOTOROMAN;Integrated Security=True;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
